annotated-types
anyio
beautifulsoup4
blis
branca
bs4
catalogue
certifi
charset-normalizer
click
cloudpathlib
confection
contourpy
cycler
cymem
distro
dnspython
dotenv
en_core_web_sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.8.0/en_core_web_sm-3.8.0-py3-none-any.whl#sha256=1932429db727d4bff3deed6b34cfc05df17794f4a52eeb26cf8928f7c1a0fb85
fastapi
folium
fonttools
geographiclib
geopandas
geopy
google_search_results
h11
httpcore
httpx
idna
Jinja2
jiter
joblib
kiwisolver
langcodes
language_data
marisa-trie
markdown-it-py
MarkupSafe
matplotlib
mdurl
murmurhash
networkx
numpy
openai
osmnx
packaging
pandas
pillow
preshed
pydantic
pydantic_core
Pygments
pymongo
pyogrio
pyparsing
pyproj
python-dateutil
python-dotenv
pytz
requests
rich
scikit-learn
scipy
serpapi
shapely
shellingham
six
smart-open
sniffio
soupsieve
spacy
spacy-legacy
spacy-loggers
srsly
starlette
thinc
threadpoolctl
tqdm
typer
typing
typing_extensions
tzdata
urllib3
uvicorn
wasabi
weasel
wrapt
xyzservices
